.nav-bar {
  background-color: #3ea1ec;
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 24px auto;
      width: 60px;
      height: auto;
    }
  }
}

nav {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 210px;
  top: 50%;
  margin-top: -100px;

  a {
    color: darkgray;
    font-size: 40px;
    display: block;
    position: relative;
    height: 80px;
    line-height: 50px;

    i {
      transition: all 0.8s ease-out;
    }

    &:hover {
      color: burlywood;

      svg {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      font-size: 12px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.8s ease-out;
    }

    &:first-child {
      &::after {
        content: 'HOME';
      }
    }
  }

  a.experience-link {
    &:after {
      content: 'EXPERIENCE';
    }
  }

  a.education-link {
    &:after {
      content: 'EDUCATION';
    }
  }

  a.projects-link {
    &:after {
      content: 'PROJECTS';
    }
  }

  a.contact-link {
    &:after {
      content: 'CONTACT';
    }
  }

  a.active {
    svg {
      color: rgb(240, 116, 1);
    }
  }
}
